@use 'partial';
/*mobil ved 600px*/
* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

h1 {
    font-size: 2rem;

    font-family: "Livvic", sans-serif;
    font-weight: 600;
    font-style: normal;

    @media screen and (max-width: 900px) {
        font-size: 1.6rem;
    }
}

h2 {
    font-size: 1.8rem;

    font-family: "Livvic", sans-serif;
    font-weight: 600;
    font-style: normal;

    @media screen and (max-width: 900px) {
        font-size: 1.5rem;
    }
}

h3 {
    font-size: 1.8rem;

    font-family: "Livvic", sans-serif;
    font-weight: 600;
    font-style: normal;

    @media screen and (max-width: 900px) {
        font-size: 1.5rem;
    }  
}

.h1-logo {
    font-size: 2.375rem;

    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: normal;

    @media screen and (max-width: 900px) {
        font-size: 1.9rem;
    }
}

.cta {
    font-size: 1.5rem;

    font-family: "Livvic", sans-serif;
    font-weight: 600;
    font-style: normal;

    /*@media screen and (max-width: 900px) {
        font-size: 1.6rem;
    }*/
}

p {
    font-size: 1.25rem;
    font-family: "Kodchasan", sans-serif;
    font-weight: 300;
    font-style: normal;

    @media screen and (max-width: 900px) {
        font-size: 1rem;
    }
}


body {
    display: grid;
    /*grid-template-columns: 0 1fr 0;*/
    grid-template-rows: 75px 1fr 100px;
    height: 100vh;

    /*@media screen and (min-width: 1500px) {
        grid-template-columns: 1fr 1500px 1fr;
    }*/
}

header {
    grid-row: 1/2;
    /*grid-column: 2/3;*/
    background-color: #2D2D2D;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: partial.$padding-sides-L;
    padding-right: partial.$padding-sides-L;
   

        @media screen and (max-width: 1300px) {
            padding-left: partial.$padding-sides-M;
            padding-right: partial.$padding-sides-M;
        }
        @media screen and (max-width: 940px) {
            padding-left: partial.$padding-sides-S;
            padding-right: partial.$padding-sides-S;
        }
        

        .logo {
            grid-column: 1/2;
            display: flex;
            justify-self: start;
            align-self: center;

                img {
                    height: 20px;
                }
        }
        .nav {
            grid-column: 2/3;
            display: flex;
            flex-direction: row;
            justify-content: end;
            gap: 20px;
            align-items: center;

                img {
                    height: 20px;
                    /*position: relative;
                    bottom: -2px;*/
                    transform: translate(0, 20%);
                }

                .nav-cta {
                    @include partial.nav-cta ($color: white, $hover-color:#FFCB8F);
                    
                    @media screen and (max-width: 600px) {
                        display: none;
                    }
                
                }

                .burgermenu {
                    height: 18px;
                    transform: translate(0, 20%);
                    @media screen and (min-width: 600px) {
                        display: none;
                    }
                }



        }
       
}

/*section:not(:first-of-type) {}*/

section {
    padding-left: partial.$padding-sides-L;
    padding-right: partial.$padding-sides-L;
    
    @media screen and (max-width: 1300px) {
        padding-left: partial.$padding-sides-M;
        padding-right: partial.$padding-sides-M;
    }
    @media screen and (max-width: 940px) {
        padding-left: partial.$padding-sides-S;
        padding-right: partial.$padding-sides-S;
    }
}

main {
    grid-row: 2/3;
    /*grid-column: 2/3;*/
}

.hero {
    display: flex;
    justify-content: space-between;
    
    height: 600px;
    /*grid-template-columns: 2fr 1fr;*/
    background-color: #FFCB8F;
    align-items: center;
/*
    @media screen and (max-width: 1400px) {
        grid-template-columns: 1fr 2fr;
    }
    @media screen and (max-width: 810px) {
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 710px) {
        grid-template-columns: 2fr 3fr;
    }*/

        .hero-text {
            background-color: red;
            width: 100%;
            /*grid-column: 1/2;*/
            @include partial.flex-column-text($justify-content:center, $align-items:start); 

                .cta {
                    @include partial.cta ($color:white, $bg-color:black);
                }
        }
        .hero-img {

            background-color: aquamarine;
            /*grid-column: 2/3;*/
            height: 600px;
            
            /*overflow: visible;*/
            display: flex;
            align-items: end;
            justify-content: end;

            @media screen and (max-width: 810px) {
                height: 400px;
            }

                img {
                    height: 100%;
                }
        }
}

.kategorier {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #DEC9FF;
    padding-top: 50px;
    padding-bottom: 50px;

        .indledning {
            @include partial.flex-column-text($justify-content:start, $align-items:start);
        }

        .kategori-kasser {
            display: flex;
            justify-content: space-between;

                .gul-kasse {
                    position: relative;
                    padding-top: 50px;
                    display: flex;
                    flex-direction: column;
                    height: 600px;
                    width: 30%;
                    background-color: #FFD952;
                    gap: 230px;
                    border-radius: 10px;
                    align-items: center;

                    /*@media screen and (max-width: 1100px) {
                        width: 25%;
                    }*/

    
                        .text-i-klasse { /*virker ikke. hvorfor?*/
                            @include partial.flex-column-text($justify-content:start, $align-items:center); 

                            background-color: aqua;
                            width: 100%;
                            
                            /*
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            justify-content: start;
                            align-items: center;
                            */
                        }
                        .cta {
                            @include partial.cta ($color:white, $bg-color:black);
                            z-index: 1;
                        }
                        .hund1 {
                            height: 60%;
                            position: absolute;
                            bottom: -20px;
                        }
                        .hund2 {
                            height: 40%;
                            position: absolute;
                            bottom: 30px;
                        }
                        .hund3 {
                            height: 50%;
                            position: absolute;
                            bottom: 20px;
                        }
                }

        }
        
}

footer {
    grid-row: 3/4;
    /*grid-column: 2/3;*/
    background-color: #2D2D2D;
    display: flex;
    justify-content: center;
    align-items: center;
    
        p {
            color: white;
        }
}



